/* Responsive */
@media screen and (max-width: 600px) {
  #root {
    display: grid !important;
    grid-template-columns: 1fr !important;
  }
  #loading {
    width: 80px !important;
    height: 80px !important;
  }
  .searchBox {
    align-items: center !important;
    justify-content: center !important;
  }
}
@media screen and (max-width: 475px) {
  .table {
    height: 470px !important;
  }
}
@media screen and (max-width: 440px) {
  .table {
    height: 560px !important;
  }
}
@media screen and (max-width: 400px) {
  .table {
    height: 650px !important;
  }
}
@media screen and (max-width: 385px) {
  .table {
    height: 730px !important;
  }
}
