*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease;
  
}

body h3, h4,h5{
  font-family: 'Poppins',sans-serif;
}
body h1, h2{
  font-family: 'Josefin Sans' , sans-serif;
}
#root{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 40% 60%;
  z-index: 20;
}
.sideOne{
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;

}
.searchBox{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5%;
  padding: 1rem 0 2rem;
}
#search{
  padding: 0.5rem 1rem;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
  color: #333;
  outline: none;
  border: none;
  border-radius: 40px;
  width: 60%;
  font-size: 1rem;
  font-weight: 500;
}
.lightSearch::placeholder{
  color: black;
  z-index: 1;
}
.darkSearch::placeholder{
  color: rgba(206, 199, 199, 0.877);
  z-index: 1;
}
.fa-search{
  color: rgb(83, 79, 79);
  margin-left: -1.4rem;
  z-index: 2;
}

.weatherConditionsBox{
height: 30%;
padding: 1rem ;
background: rgba( 255, 255, 255, 0.15 );
box-shadow: 0 1px 15px 0 rgba(211, 212, 221, 0.37);
backdrop-filter: blur( 6.0px );
-webkit-backdrop-filter: blur( 6.0px );
display: flex;
align-items: center;
justify-content: space-around;
border-radius: 20px;
}
.time{
  font-weight: 600;
  padding: 0.5rem 0;
}
.name{
  font-size: 2.4rem;
}
.iconBox{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.iconBox *{
  width: 100%;
}
.description{
  text-align: center;
  padding: 1rem 0;
}
.sideTwo{
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
}
.chartBox{
  padding: 0.6rem;
  padding-right: 0.6rem;
  margin-left: -2rem;
  height: 30%;
}
.detailsBox{
  height: 40%;
  padding: 0.6rem ;
}
.detailsBox h3{
  padding: 0.6rem 0 0.3rem;
  border-bottom: 2px solid #333;
}
.detailsBox h4{
  display: inline-block;
  margin:0.3rem 0.5rem;
  text-transform: capitalize;
}
.detailsBox h5{
  padding: 0.5rem;
  border-bottom: 1px solid #333;
  width: 70%;
  margin-bottom: 0.5rem;
}
.sunBox{
  width: 100%;
  height: 40px;
  overflow: hidden;
  position: relative;
  padding: 0.5rem 0.6rem;
  
  
}
.sunBox .sunProcess{
  width: 0;
  height: 90%;
  position: absolute;  left: 0;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
} 
.processIcon{
  color: #DCE225;
  position: absolute; right: 0;
  width: 35px;
  height: 35px;
}
.timeBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
  padding: 0.4rem;
  margin-top: 2rem;
}
.sunriseBox , .sunsetBox{
  padding: 0.1rem 0.5rem;
  margin: 0.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.tooltip{
  background: linear-gradient(to bottom ,rgba(51, 156, 208, 0.449),rgba(186, 221, 238, 0.496));
  color: rgb(30, 29, 29);
  border-radius: 10px;
  padding: 0.4rem 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.table{
  overflow-y: scroll;
  scroll-behavior: smooth;
  height: 410px;
  margin: 2rem 0 0;
}
.table::-webkit-scrollbar{
  width: 6px;
}
.table::-webkit-scrollbar-thumb{
  width: 100%;
  background: rgb(63, 67, 68);
  border-radius: 5px;
}
.weatherTable{
  width: 100%;
  padding: 0.4rem;
  height: 100%;
  background: rgba( 255, 255, 255, 0.15 );
  backdrop-filter: blur( 6.0px );
  -webkit-backdrop-filter: blur( 6.0px );
  border-radius: 5px;
  
}
.weatherTable tr{
  display: flex;
  border-bottom: 1px solid #333;
  justify-content: space-around;
  align-items: center;
  height: 70px;
  font-family: 'Poppins',sans-serif;
}
.weatherTable .temp{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weatherTable .date{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  font-weight: 600;
  color: #333;
}
.weatherTable .date span{
  font-weight: 300;
  color: rgb(23, 23, 23);
}
#loadingBox{
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.095);
  position: fixed;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
          
  display: none;
}
#loading {
  border: 16px solid #f7f7f7; 
  border-top: 16px solid #95C5BF; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: animateLoading 2s linear infinite;
  position: absolute;
  top: 45%; left: 46%;
  transform: translate(-50%,-50%);
}

@keyframes animateLoading {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Responsive */
@media screen and (max-width:600px) {
  #root{
    display: grid;
    grid-template-columns: 1fr;
    
  }
  #loading{
    width: 80px;
    height: 80px;
  }
  .searchBox{
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width:475px) {
  
  .table{
    height: 470px;
  }
  
}
@media screen and (max-width:440px) {
  
  .table{
    height: 560px;
  }
}
@media screen and (max-width:400px) {
  
  .table{
    height: 650px;
  }
}
@media screen and (max-width:385px) {
  
  .table{
    height: 730px;
  }
}